.info__container{
    margin-top: 4rem;
    padding:1rem;
}

.profileFavoritesTitle{
    margin-top: 6rem;
}

.userLikedRecipesContainer{
    margin-top: 1rem;
    display: flex;
    overflow-x: scroll;

}

.userPostedRecipesContainer{
    margin-top: 4rem;
}