
.switch{
	margin-top:1rem;
	
}
.searchSettingsContainer{
	display: flex;
	justify-content: center;
	align-items: baseline;
}
.container{
	display: flex;
	margin-top:6rem;
    justify-content: center;
}

.searchBtn{
    align-self: center;
}

input {
	outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #fff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #fff;
	padding: 9px 10px 9px 32px;
    width: 75%;
    border-color: #66CC75;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}




