.navbar__item{
    list-style-type: none;
}

.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem 1rem;
}

.navbar__title{
    align-self: center;
}